<!-- app/views/sessions/new.html.erb -->
<h1>Login</h1>

<%= form_with(url: sessions_path) do |form| %>
  <%= form.label :phone_number %>
  <%= form.text_field :phone_number %>

  <%= form.submit "Login" %>
<% end %>
