<!-- app/views/pages/home.html.erb -->

<div class="m-5 p-5 text-center">
  <h1>Welcome to Our Clinic!</h1>
  <div class="p-5">
    <% if doctor_signed_in? || patient_signed_in? %>
      <div>
        <h2>Book an Appointment:</h2>
        <%= link_to 'Book Appointment', appointments_path, class: 'btn btn-success' %>
      </div>
    <% else %>
      <%= link_to 'Log in as Doctor', new_doctor_session_path, class: 'btn btn-primary m-2' %>
      <%= link_to 'Log in as Patient', new_patient_session_path, class: 'btn btn-primary m-2' %>
    <% end %>
  </div>
</div>
